<form method="post" align="center"action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('silmek istediğine emin misin?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger btn-lg">Kaydı sil</button>
</form>
